# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries


# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#vs using log or self setting 
*.suo
*.sdf
*.opensdf
*.vcxproj.user